<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <table>
    <tbody>
      <tr>
        <% if(user) { %>
        <span><%= user.email%> </span>
        <form method="POST" action="/logout">
         <input type="submit" value="logout">
       </form>
       <% } else { %>
       <form method="GET" action="/login">
        <input type="submit" value="login">
      </form>
      <form method="GET" action="/register">
        <input type="submit" value="register">
      </form>
      <% } %>
    </tr>
  </tbody>
</table>
</body>
</html>














