<title>The url shorter machine</title>

<% if(username) { %>
<form method="POST" action="/logout">
  <input type="text" name="username" value="<%= username%>" >
  <input type="submit" value="logout">
</form>
 <% } else { %>
<form method="POST" action="/login">
  <input type="text" name="username" value="<%= username%>" >
  <input type="submit" value="login">
<% } %>

