<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <%= include ../partials/header %>
  </header>
  <table>
    <thead>
      <tr>
        <th>Short url</th>
        <th>Long url</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= shortURL %></td>
          <td><%= longURL %></td>
        </tr>
  </tbody>
  </table>
</body>
</html>
