<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include partials/_header %>
  </header>
  <table>
    <thead>
      <tr>
        <th>Short url</th>
        <th>Long url</th>
      </tr>
    </thead>
    <tbody>
      <% for(let shortUrl in urls) { %>

          <td><%= shortUrl %></td>

          <td><%= urls[shortUrl] %></td>
          <td>
            <form method="POST" action="/urls/<%= shortUrl %>/delete">
            <input type="submit" value="Delete">
            </form>
          </td>
        <tr>
        </tr>
      <% } %>
  </tbody>
  </table>
  <a href="urls/new"> Add a new url! </a>
</body>
</html>
