<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <table>
    <thead>
      <tr>
        <th><h1>Short url:</h1></th>
        <th><h2><%= shortURL %></h2></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <form method="POST" action="/urls/<%=shortURL%>">
              <td><input type="text" name="box" value="<%= longURL %>"></td>
              <td><input type="submit" value="Update"></td>
            </form>
        </tr>
  </tbody>
  </table>
</body>
</html>
